.slider {
    height: 24px;
}

.handle {
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    height: 24px;
    outline: none;
    position: absolute;
    width: 24px;
    top: 2px;
}

.bar-0, .bar-2 {
    background: #dce0e0;
    height: 2px;
    position: relative;
    top: 14px;
}

.bar-1 {
    background-color: #ff5a5f;
    height: 4px;
    position: absolute;
    top: 13px;
}

.range-slider {
    margin: 12px;
}